[Unit]
Description=LAMA CARAVAN server cell %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=__CARAVAN_ROOT__
ExecStart=__CARAVAN_ROOT__/var/server-cells/%i/start.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
